<% layout("/layouts/boilerplate") -%>
<body>
    <h1 class="display-5" >All listings</h1>
    <div class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-2 row-cols-xs-1">
        <% for (let listing of listingData) { %>
            <a href="/listings/<%= listing._id %>">
                <div class="card" style="height: 15rem;">
                    <img src="<%= listing.image.url %>" class="card-img-top" alt="<%= listing.image.filename %>" style="height: 15rem;">
                    <div class="card-img-overlay"></div>
                    <div class="card-body">
                        <b><p class="card-text"><%= listing.title %></p></b>
                        <p class="card-text">&#8377;&nbsp;<%= listing.price ? listing.price.toLocaleString("en-IN") : "N/A" %>/ per night</p>
                    </div>
                </div>
            </a>
        <% } %>
    </div>
    <br><br>
</body> 