<% layout("/layouts/boilerplate") -%>
<body>
    <br><br>
    <h3>Edit the listing for your property</h3>
    <form action="/listings/<%= listing._id %>/edit?_method=PATCH" method="POST">

        <!-- Title input -->
        <div class="mb-3">
            <b><label for="titleInput" class="form-label">Edit title</label></b>
            <input 
                type="text" 
                name="titleInput" 
                id="titleInput" 
                class="form-control"
                value="<%= listing.title %>">
            <div class="invalid-feedback">Please enter a title for your property.</div>
        </div>

        <!-- Description input -->
        <div class="mb-3">
            <b><label for="descInput" class="form-label">Edit description </label></b>
            <textarea 
                name="descInput" 
                id="descInput" 
                class="form-control"
                cols="40" 
                rows="2"
            ><%=listing.description%></textarea>
            <div class="invalid-feedback">Please enter a description for your property.</div>
        </div>

        <!-- Image input -->
        <div class="mb-3">
            <b><label for="imageInput" class="form-label">Image URL</label></b>
            <input type="text" name="imageInput" id="imageInput"  class="form-control" value="<%= listing.image.url %>">
        </div>

        <!-- Divided row -->
        <div class="row mb-3">
            
            <!-- Price input -->
            <div class="col-md-4">
                <b><label for="priceInput" class="form-label">Edit the per night price (INR)</label></b>
                <input 
                    type="number" 
                    id="priceInput"
                    class="form-control"
                    name="priceInput" 
                    min="0" step="0.01" 
                    placeholder="<%= listing.price %>">
                <div class="invalid-feedback">Please enter a price for your property.</div>
            </div>
            
            <!-- Country input -->
            <div class="col-md-8">
                <b><label for="countryInput" class="form-label">Edit the country</label></b>
                <select name="countryInput" id="countryInput"  class="form-control" >
                    <option value="">Select a country...</option>
                    <% for (let name of countries) { %>
                        <% if (name == listing.country) { %>
                            <option value="<%= name %>" selected><%= name %></option>
                        <% } %>
                        <option value="<%= name %>"><%= name %></option>
                    <% } %>
                </select>
                <div class="invalid-feedback">Please select a country for your property.</div>
            </div>
        </div>

        <!-- Location input -->
        <div class="mb-3">
            <b><label for="locationInput" class="form-label">Edit the location</label></b>
            <input 
                type="text" 
                name="locationInput" 
                id="locationInput"
                class="form-control"
                value="<%= listing.location %>"
            >
            <div class="invalid-feedback">Please enter a location for your property.</div>
        </div>
        
        <button type="submit" class="btn btn-outline-dark">Edit the listing</button>
    </form>
    <br><br><br>
    <!-- <script>
        const editForm = document.getElementById("editForm");

        editForm.addEventListener("submit", async (event) => {
            event.preventDefault();

            let content = {
                titleInput: document.getElementById('titleInput').value,
                descInput: document.getElementById('descInput').value,
                imageInput: document.getElementById('imageInput').value,
                priceInput: document.getElementById('priceInput').value,
                locationInput: document.getElementById('locationInput').value,
                countryInput: document.getElementById('countryInput').value
            };

            const listingId = "<%= listing._id %>";
            try {
                const response = await fetch(`/listings/${listingId}/edit`, {
                    method: 'PATCH',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(content)
                });

                if (response.ok) {
                    // Redirect or show success message
                    const result = await response.json();
                    console.log("Update successful:", result);
                    window.location.href = '/listings/<%= listing._id %>'; 
                } 
                else {
                    alert("Failed to update listing.");
                }
            } 
            catch (error) {
                console.error("Error sending PATCH request:", error);
            }
        });
    </script> -->
</body>