<% layout("/layouts/boilerplate") -%>
<body>
    <div class="row showBox mt-4">
        <div class="col-10"> 
            
            <h3><%= listing.title %></h3>
            <img 
                class="showListingImg mb-3" 
                src="<%= listing.image.url %>" 
                alt="<%= listing.image.filename %>">
            
            <div class="row">
                
                <div class="col-6">
                    <p id="description" style="opacity: 0.9;"><%= listing.description %></p>
                </div>
                
                <div class="col-6 d-flex justify-content-center">
                    <div class="card showPriceCard">
                        <div class="card-body priceDabba">
                            <b><p class="card-text" style="font-weight: 600;">&#8377;<%= listing.price %> for 1 night</p></b>
                            <p class="card-text location-text" style="font-weight: 300; font-size: 0.85rem;">Located in: <%= listing.location %>,&nbsp;<%= listing.country %></p>
                        </div>
                    </div>
                </div>
            </div>
            <form action="/listings/<%=listing._id%>/edit" method="get" class="mb-2">
                <button type="submit" class="btn btn-outline-dark">Edit this listing</button>
            </form>
            <form action="/listings/<%= listing._id %>" id="deleteForm">
                <button type="submit" class="btn btn-outline-dark">Delete this listing</button>
            </form>

        </div> 
    </div>

    
    
    <script>
        const deleteForm = document.getElementById("deleteForm");

        deleteForm.addEventListener("submit", async (event) => {
            event.preventDefault();

            const listingId = "<%= params.id %>";
            try {
                const response = await fetch(`/listings/${listingId}`, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json'
                },
            });

            if (response.ok) {
                // Redirect or show success message
                const result = await response.json();
                console.log("Update successful:", result);
                window.location.href = '/listings'; 
            } else {
                alert("Failed to update listing.");
            }
        } catch (error) {
            console.error("Error sending PATCH request:", error);
        }
    });
    </script>
</body>